---
import Base from "../layouts/Base.astro";
import { pageTitle } from "../consts";
---

<Base title={pageTitle("Thank You")} description="">
  <article class="w-full max-w-6xl space-y-12">
    <div class="mb-16 text-center">
      <h1 class="mb-4 text-4xl font-bold">Thank You!</h1>
      <p class="text-lg text-gray-600 dark:text-gray-400">
        Thank you for reaching out. You'll hear from us soon.
      </p>
      <div class="mt-8 flex justify-center gap-4"></div>
    </div>
  </article>
</Base>
