---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";
import SearchModal from "../components/SearchModal.astro";

type Props = {
  title: string;
  description: string;
  image?: string;
};

const { title, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body class="mx-auto bg-gray-50 p-4 text-gray-800 dark:bg-rejot-black-950 dark:text-gray-200">
    <Header />
    <main class="flex min-h-[calc(100vh-40rem)] justify-center px-2 md:px-4 xl:px-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
